@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
  url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"),
  url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
}

p {
  font-family: "Roboto", "Tahoma", sans-serif;
}
