.about {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 280px;
  min-height: 80vh;
}
.about__header {
  margin-bottom: 0;

  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: $pink;
}
.about__photo {
  width: 150px;
  height: 150px;

  border-radius: 50%;
}
.about__info {
  margin-bottom: 20px;
  padding-left: 0;

  font-family: "Roboto","Tahoma",sans-serif;
  line-height: 28px;
  text-align: center;
  list-style: none;
  color: $dark;

  li {
    margin-bottom: 0.8em;

    a:link, a:visited {
      color: $dark;
    }
  }
}

@media (min-width: 620px) {
  .about {
    width: 580px;
  }
  .about__header {
    font-size: 32px;
  }
  .about__photo {
    width: 300px;
    height: 300px;
  }
  .about__info {
    width: 70%;

    font-size: 1.2rem;
    line-height: 1.5;
  }
}
@media (min-width: 785px) {
  .about {
    width: 580px;
    min-height: 100vh;
  }
}

@media (min-width: 1120px) {
  .about {
    width: 880px;
  }
}
@media (min-width: 1440px) {
  .about {
    width: 1180px;
  }
  .about__photo {
    width: 400px;
    height: 400px;
  }
  .about__header {
    font-size: 50px;
  }
  .about__info {
    width: 60%;
    font-size: 1.7rem;
  }
}
