.aside {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
}
.aside__logo-link {
  display: block;
  width: 60px;
  height: 60px;

  background: url("../img/avatar-sprite@200.jpg") top center no-repeat;
  background-size: 100% auto;

  cursor: pointer;

  &:hover {
    animation-name: sprite-wink;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: steps(8);
  }
}

.aside__about-group {
  position: relative;
  margin-bottom: 2px;
}
.aside__links-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin-left: 2px;
}
.aside__navigation {
  margin-left: 12px;
}
.aside__navigation-item {
  position: relative;

  margin-right: 5px;

  text-transform: uppercase;
  color: $pink;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.4px;

  &:link, &:active {
    text-decoration: none;
    color: $pink;
  }
  &:hover {
    color: $peachy;

    svg path {
      fill: $peachy;
    }
  }
  &--small {
    position: relative;
    margin-right: 8px;

    font-size: 14px;
    line-height: 1.2;
   }
  svg {
    display: none;
  }
}

@media (min-width: 785px) {

  .aside {
    position: fixed;

    flex-direction: column;
    width: 150px;
    margin-top: 140px;
    margin-left: 20px;
  }
  .aside__logo-link {
    width: 140px;
    height: 140px;
  }
  .aside__navigation-item {
    position: relative;

    display: block;
    width: 100%;

    &--small {
      margin-bottom: 0.3em;
    }
    svg {
      position: absolute;
      right: 50%;

      display: inline-block;
      width: 1em;
      height: 1em;
    }
  }
  .aside__about-group {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {

  .aside {
    width: 220px;
    margin-left: 10px;
  }


  .aside__navigation-item {
    padding: 3px;

    font-size: 25px;
    line-height: 27px;

    &--small {
      font-size: 20px;
      line-height: 25px;
      padding: 0;
    }
    svg {
      right: 54%;
      top: 10%;
    }
  }
  .aside__about-group {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .aside__logo-link {
    width: 200px;
    height: 200px;
  }
}
