.aside {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
}
.aside__links-group {
  margin-left: 2px;
}
.aside__navigation {
  margin-left: 12px;
}
.aside__navigation-item {
  margin-right: 5px;

  text-transform: uppercase;
  color: $pink;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.4px;

  &:link, &:active {
    text-decoration: none;
    color: $pink;
  }
  &:hover {
    color: $peachy;
  }
  &--small {
    margin-right: 2px;

    font-size: 14px;
    line-height: 22px;
  }
}

@media (min-width: 785px) {

  .aside {
    position: fixed;

    flex-direction: column;
    width: 150px;
    margin-top: 140px;
    margin-left: 20px;
  }
  .aside__logo-img {
    width: 140px;
    height: 140px;
  }
  .aside__navigation-item {
    display: block;
    width: 100%;
  }
  .aside__about-group {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {

  .aside {
    width: 220px;
    margin-left: 10px;
  }


  .aside__navigation-item {
    padding: 3px;

    font-size: 25px;
    line-height: 27px;

    &--small {
      font-size: 20px;
      line-height: 25px;
      padding: 0;
    }
  }
  .aside__about-group {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .aside__logo-img {
    width: 200px;
    height: 200px;
  }
}
