.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 666;

  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 10px;

  background-color: white;
}

.page-header__main-header {
  @include visuallyhidden;
}

@media (min-width: 785px) {
  .page-header {
    position: static;

    order: 2;
    width: 150px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .page-header {
    width: 220px;
  }
}
