.page-cards {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  width: 280px;
}


.page-cards__card {
  position: relative;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  box-sizing: border-box;
  width: 280px;
  height: 280px;
  margin: 0 0 20px 0;
  overflow: hidden;

  text-align: center;
}

.page-cards__card:hover {

  .page-cards__info {
    opacity: 1;
    pointer-events: all;
  }
  .page-cards__card-image {
    opacity: 0.3;

    transform: rotate(3deg) scale(1.2);
  }
  &:nth-child(2n) .page-cards__card-image {
    transform: rotate(-3deg) scale(1.2);
  }
}

.page-cards__card-image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.page-cards__info {
  position: relative;
  z-index: 10;

  display: flex;
  flex-flow: column wrap;
  padding: 20px;

  text-transform: uppercase;
  color: $dark;

  opacity: 0;
  pointer-events: none;
  user-select: none;

  transition: 0.2s opacity ease-in-out;
}
.page-cards__title {
  margin: 15px 0;
}
.page-cards__description {
  margin: 15px 0;
}
.page-cards__link {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;

  background-color: black;
  background: url("../img/right-arrow.svg") 50% 50% no-repeat;
  background-size: cover;

  &:hover {
    opacity: 0.6;
    pointer-events: all;
    z-index: 10;
  }
}
///////////////////////////
///styles for project pages
///////////////////////////

.page-cards__header {
  width: 100%;
  margin-bottom: 5px;

  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  color: $peachy;

  span {
    display: block;
    width: 100%;

    font-size: inherit;
    line-height: inherit;
    color: $pink;
  }
}
.page-cards__text {
  line-height: 28px;
  text-align: left;
}

.page-cards__card--responsive {
  height: auto;
  width: auto;

  &:nth-child(2n):hover .page-cards__card-image {
    transform: none;
    opacity: 1;
  }

  &:hover .page-cards__card-image {
    transform: none;
    opacity: 1;
  }

  .page-cards__card-image {
    position: static;

    width: 280px;
    height: 100%;
  }
}
.page-cards__card--single {
  width: 100%;
}

//в узком вьюпорте элементы с половинной шириной растягиваются на 100%
.page-cards__card--half-width {
  width: 100%;

  .page-cards__card-image {
    width: 100%;
  }
}
.page-cards__card--wide {
  width: 100%;

  .page-cards__card-image {
    width: 100%;
  }
}

.page-cards__card--full-width {

  .page-cards__card-image {
    width: 100%;
    height: 100%;
    max-height: 100%;
  }
}

@media (min-width: 620px) {
  .page-cards {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 580px;
    margin-bottom: 40px;
  }

  picture {
    margin-bottom: -5px;
  }
  .page-cards__card {
    margin: 5px;
    margin-bottom: 5px;

  }
  .page-cards__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .page-cards__card--half-width {
    width: auto;
    height: auto;

    .page-cards__card-image {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 1000px;
    }
  }

  .page-cards__header {
    font-size: 32px;
    line-height: 32px;
    text-align: left;

    span {
      display: inline;
      width: auto;
    }
  }

  .page-cards__text {
    text-indent: 0;
  }

}

@media (min-width: 785px) {
  .page-cards {
    width: 580px;
    margin-top: 20px;
    margin-left: 0px;
    padding: 0;
  }
  .page-cards__header,
  .page-cards__text {
    margin-left: 10px;
  }

}

@media (min-width: 1120px) {
  .page-cards {
    flex-shrink: 0;
    justify-content: center;
    width: 880px;
  }

  .page-cards__card--responsive {
    width: auto;
    height: auto;
  }
  .page-cards__card--wide {
    width: 100%;

    .page-cards__card-image {
      width: 100%;
      height: auto;
      max-width: 880px;
    }
  }

}

@media (min-width: 1440px) {
  .page-cards {
    width: 1160px;
    margin-left: 20px;
  }

  .page-cards__card {
    width: 380px;
    height: 380px;

    &--responsive {
      width: auto;
      height: auto;
    }
  }


  .page-cards__info {
    font-size: 25px;
    line-height: 40px;
  }

  .page-cards__header {
    margin-left: 20px;
    margin-right: 300px;

    font-size: 50px;
    line-height: 50px;
  }
  .page-cards__text {
    margin-left: 20px;
    margin-right: 300px;

    font-size: 20px;
    line-height: 35px;
  }
  .page-cards__card--wide {

    .page-cards__card-image {
      width: 100%;
      max-width: 1180px;
    }

    &.page-cards__card--single {
      max-height: auto;
    }

  }
  .page-cards__card--align-left {
    margin-left: 20px;
  }
}
